option_settings:
    aws:autoscaling:launchconfiguration:
        MonitoringInterval: "5 minute"
        SecurityGroups: sg-02d6237ce70859f8c
        EC2KeyName: ghostboard
    aws:ec2:instances:
        InstanceTypes: t3a.nano,t3.nano,t2.nano
        EnableSpot: true
        SpotFleetOnDemandBase: 1
        SpotMaxPrice: 5