option_settings:
    aws:elasticbeanstalk:environment:
        EnvironmentType: LoadBalanced
        LoadBalancerType: application
    aws:autoscaling:asg:
        MaxSize: 5
        MinSize: 1
    aws:elasticbeanstalk:command:
        DeploymentPolicy: Immutable
        HealthCheckSuccessThreshold: Ok
        IgnoreHealthCheck: true
        Timeout: "900"
    aws:elbv2:listener:443:
        DefaultProcess: default
        ListenerEnabled: 'true'
        Protocol: HTTPS
        SSLCertificateArns: arn:aws:acm:eu-west-1:858957275565:certificate/c6472711-b786-4d4c-bae2-e6bb53836b35
    aws:elasticbeanstalk:environment:process:default:
        DeregistrationDelay: '20'
        HealthCheckInterval: '15'
        HealthCheckPath: /ping
        HealthCheckTimeout: '5'
        HealthyThresholdCount: '3'
        UnhealthyThresholdCount: '3'
        Port: '80'
        Protocol: HTTP