option_settings:
    aws:elasticbeanstalk:environment:
        EnvironmentType: LoadBalanced
        LoadBalancerType: application
    aws:autoscaling:asg:
        MaxSize: 5
        MinSize: 1
    aws:elbv2:listener:443:
        DefaultProcess: https
        ListenerEnabled: 'true'
        Protocol: HTTPS
    aws:elasticbeanstalk:environment:process:http:
        Port: 80
        Protocol: HTTP