option_settings:
    aws:elasticbeanstalk:environment:
        EnvironmentType: LoadBalanced
        LoadBalancerType: application
        LoadBalancerIsShared: true
    aws:elbv2:loadbalancer:
        SharedLoadBalancer: arn:aws:elasticloadbalancing:eu-west-1:858957275565:loadbalancer/app/shared-load-balancer/a8d2ba0a3ef7ab0e
    aws:autoscaling:asg:
        MaxSize: 5
        MinSize: 1
    AWSEBAutoScalingScaleDownPolicy.aws:autoscaling:trigger:
        LowerBreachScaleIncrement: '-1'
    AWSEBAutoScalingScaleUpPolicy.aws:autoscaling:trigger:
        UpperBreachScaleIncrement: '1'
    AWSEBCloudwatchAlarmHigh.aws:autoscaling:trigger:
        UpperThreshold: '3000000'
    AWSEBCloudwatchAlarmLow.aws:autoscaling:trigger:
        BreachDuration: '3'
        EvaluationPeriods: '1'
        LowerThreshold: '1000000'
        MeasureName: NetworkOut
        Period: '3'
        Statistic: Average
        Unit: Bytes
    aws:elasticbeanstalk:command:
        DeploymentPolicy: Immutable
        Timeout: "900"
    aws:elbv2:listener:443:
        DefaultProcess: default
        ListenerEnabled: 'true'
        Protocol: HTTPS
        SSLCertificateArns: arn:aws:acm:eu-west-1:858957275565:certificate/c753a96d-c3ea-45e5-afd9-b177871932db
    aws:elasticbeanstalk:environment:process:default:
        DeregistrationDelay: '20'
        HealthCheckInterval: '15'
        HealthCheckPath: /ping
        HealthCheckTimeout: '5'
        HealthyThresholdCount: '3'
        UnhealthyThresholdCount: '3'
        Port: '80'
        Protocol: HTTP
