option_settings:
    -   namespace: aws:ec2:vpc
        option_name: VPCId
        value: vpc-xxx
    
    -   namespace: aws:ec2:vpc
        option_name: Subnets
        value: subnet-xxx, subnet-xxx, subnet-xxx

    -   namespace: aws:autoscaling:launchconfiguration
        option_name: SecurityGroups
        value: sg-xxx